.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Renviron
*_cache/
.cache/
.Rproj.user/
.Rproj.user/**/*
rsconnect/
.DS_Store
Thumbs.db
.log
.tmp
*.log
*.tmo
*.tmp
*.bak
auto_saves/*
!auto_saves/.gitkeep
metric_autosaves/*
!metric_autosaves/.gitkeep
